#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) distclean

	dh_clean

build:
# nothing to build in this package

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/hwdata.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/hwdata


# Build architecture-independent files here.
binary-indep: build install
	cp $(CURDIR)/MonitorsDB $(CURDIR)/pci* $(CURDIR)/pnp.ids $(CURDIR)/upgradelist $(CURDIR)/usb.ids $(CURDIR)/video* $(CURDIR)/debian/hwdata/usr/share/hwdata/

	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure

